
body {
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    overflow: scroll;
}

/*FORMATTING FOR SECTION TOP*/
#top {
    background-image: url(../IMAGES/films.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0px;
    position: absolute;
    top:0px;
    display: flex;
    width: 100%;
    height: 90%;
}

#contentAll {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    flex:1;
}

/*FORMATTING FOR THE HEADER*/
#hTop {
    padding: 0px;
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    margin:0;
    align-items: center;
}

#icon {
    width: 125px;
    height: 50px;
    background-image: url(../IMAGES/icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#btnLogin {
    padding: 0 15px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 2px #777;
    margin-right: 30px;
    height: 35px;
    color: #aaa;
    transition: .5s;
}

#btnLogin:hover {
    background: rgb(68, 61, 61);
    color:white;
    text-shadow: 1px 1px 2px #ddd;
}

/*FORMATTING FOR CONTENT CENTER OF PAGE TOP*/
#cContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#cContent h1{
    color:white;
    font-size: 18pt;
    width: 60%;
    text-align: center;
}

#p1 
{
    color:rgb(3, 204, 93);
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 800;
}

#p2 {
    font-size: 10pt;
    font-weight: bold;
    color: #888;
}

#p2 a {
    color: #999;
}

#bigIcon {
    width: 60%;
    height:130px;
}

#btnGetDisney {
    background: rgb(21, 218, 87);
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 700;
    width: 60%;
    padding:15px 0px;
    border:none;
    border-radius: 5px;
    transition: all .5s;
    filter: brightness(105%);
}

#btnGetDisney:hover {
    filter: opacity(70%);
    cursor: pointer;
}

#signUp {
    color: white;
    font-size: 12pt;
    padding:0;
    text-decoration-thickness:2px;
}

#signUp:hover {
    text-decoration-color: #555;
}


